@using Krompaco.RecordCollector.Content.Models
@*@using Krompaco.RecordCollector.Web.Extensions*@
@using Markdig
@*@using System.Globalization*@

@model ListPageViewModel



@section head {
    @if (Model.PagedDescendantPages?.Count > 0)
    {
        <link rel="alternate" type="application/rss+xml" title="@Model.Title" href="@Model.ContentProperties.SiteUrl.TrimEnd('/')@(Model.CurrentPage?.RelativeUrl)rss.xml" />
    }
    <link rel="canonical" href="@Model.ContentProperties.SiteUrl.TrimEnd('/')@(Model.CurrentPage?.RelativeUrl)" />
}



@*    <div style="filter: blur(1px); position:absolute"></div>
    <div style="backdrop-filter: blur(5px);	min-height: 50px;	max-height: 100vh;">
        @Html.Raw(Model.CurrentPage?.Content)
    </div>*@

<style>
    body{
        background-image: url('img/canada.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

@*<div class="background"></div>
<div class="foreground">*@
    @Html.Raw(Model.CurrentPage?.Content)
@*</div>*@
