@using Krompaco.RecordCollector.Web.Extensions
@using System.Globalization
@model LayoutViewModel
<!DOCTYPE html>
<html lang="@Model.CurrentCulture?.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>
    <link href="/dist/manrope-wght.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="shortcut icon" href="/mountain.png" type="image/ico" />
    @if (!string.IsNullOrWhiteSpace(Model.Robots))
    {
        <meta name="robots" content="@Model.Robots" />
    }
    <meta name="description" content="@Model.Description" />
    @if (!string.IsNullOrWhiteSpace(Model.Keywords))
    {
        <meta name="keywords" content="@Model.Keywords" />
    }
    @await RenderSectionAsync("head", false)

    <link href="simple.min.css" rel="stylesheet"  />
    <link href="~/simple.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <header>
        <nav aria-label="@Model.Localizer["Main navigation"]">
            <a href="/" aria-current="page"><b>@Model.Localizer["HOME"]</b></a>
            <a href="/about" aria-current="page"><b>@Model.Localizer["ABOUT ME"]</b></a>
            <a href="/education" aria-current="page"><b>@Model.Localizer["EDUCATION"]</b></a>
            <a href="/studies" aria-current="page"><b>@Model.Localizer["WORK"]</b></a>
            <a href="/studies" aria-current="page"><b>@Model.Localizer["CONTACT"]</b></a>
        </nav>

    </header>
    <div class="container">
        <main id="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            <h2 class="text-center text-lg">@Model.Localizer["FOT"]</h2>
        </div>
    </footer>
</body>
</html>
